# environment
NODE_ENV=development
PORT=5000

# request logger(morgan)
LOG_ENABLED=true
LOG_FORMAT=combined


# static serve
SERVE_STATIC=true
SERVE_STATIC_PATH=public


# body parser
BODY_PARSER_LIMIT=2mb
BODY_PARSER_JSON_TYPE=application/json

# api version
API_VERSION=1.0.0

# helmet
HELMET_HSTS=false

# mquery
MQUERY_LIMIT=10
MQUERY_MAX_LIMIT=50

# locales
DEFAULT_LOCALE=en
LOCALES=en,sw


# PERMISSION
PERMISSION_MODEL_NAME=Permission
PERMISSION_COLLECTION_NAME=permissions
PERMISSION_SEED_RESOURCES=Activity,Task,Role,User,Employee,Organization


# PREDEFINE
PREDEFINE_NAMESPACES=Currency,Unit


# FILE
FILE_BUCKETS=File,Photo,Image,Video
